.header {
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #1d6ece;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header__logo h1 {
    font-family: 'Martel', sans-serif;
    font-size: 2vw;
    font-weight: 800;
    color: whitesmoke;
    margin-left: 10vw;
}

.header__logo h1:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__nav {
    flex: 2;
    margin-left: 10vw;
}

.header__nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.header__nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #EEECE8;
    font-weight: 500;
    font-size: 1.2vw;
}

.header__contact-us {
    margin-right: 10vw;
}

.contact__btn {
    align-self: center;
    background-color: #EEECE8;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: rgb(82, 82, 82);
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.contact__btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.contact__btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}